<form [formGroup]="patientForm" (ngSubmit)="manage()">
  <!-- Checkboxes in a List -->
  <div>
    <div
      *ngFor="
        let immunization of patientForm.controls.immunizationDetails[
          'controls'
        ];
        let i = index
      "
    >
      <label>{{ immunization.value.name }}</label>
      <input
        type="checkbox"
        color="primary"
        formArrayName="immunizationDetails"
        (change)="registerChanges($event)"
      />
    </div>
  </div>

  <button type="submit">Submit</button>
</form>
